@import "/Css/componentes/footer.css";
@import "/Css/componentes/header.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}
main{
    width: 100%;
    height: 1200px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

main #titulo{
    display: flex;
    Justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #1F9083;
    align-items: center;
}

main #titulo h1{
    color: white;
}


main #card1{
    display: flex;
    margin-top:30px;
    Align-items: flex-start;
    Justify-content: flex-start;
    background-color: none;
    width: 1150px;
    height: 200px;
}

main #card1 #imagen #fotoperfil{
    width: 200px;
    height: 200px;
}

main #card1 #quadrado{
    display: flex;
    Justify-content: space-between;
    Align-items: center;
    width: 815px;
    height: 200px;
    background-color: #2A9;
}

main #card1 #quadrado #descriçao{
    color: white;
    font-size: 20px;
    margin-left: 50px;
    line-height: 170%;
}

main #card1 #quadrado #links{
    margin-right: 5%;
}
main #card1 #quadrado #linkgit{
    width: 60px;
    height: 45px;
}

main #card1 #quadrado #linklinkedin{
    width: 45px;
    height: 40px;
}

  @media screen and (max-width: 480px) {

    main{
        height: 800px;
        Justify-content: flex-start;
    }
    
    main #titulo h1{
        font-size: 15px;
        color: white;
    }

    main #card1{
        Flex-direction: row;
        background-color: #22AA99;
        height: 150px;
        width: 100%;
    }
    main #card1 #imagen #fotoperfil{
        width: 150px;
        height: 150px;
        margin-left: 1%;
    }

    main #card1 #quadrado{
        width: 70%;
        margin-left: 0%;
        height: 150px;
    }

    main #card1 #quadrado #descriçao{
        margin-top: -9%;
        font-size: 14.5px;
        margin-left: 3%;
        line-height: 140%;
    }

    main #card1 #quadrado #linklinkedin{
        width: 30px;
        height: 30px;
    }

    main #card1 #quadrado #linkgit{
        width: 40px;
        height: 30px;
    }
    
    main #card1 #quadrado #links{
        display: flex;
        Flex-direction: row;
        margin-left: -100px;
        margin-top: 40%;
    }
  }

  @media screen and (max-width: 370px) and (max-width: 750px) {
    

    main #card1 #quadrado{
        margin-left: -2%;
    }

    main #card1 #quadrado #linklinkedin{
        margin-top: 9.5%;
    }
  }






