*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}

header{

    width: 100%;
    height: 100px; 
    display: flex;
    background-color: #254B4A;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

header #textos{
    margin-right: 3%;
    color: white;
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif; 
    font-size: 7px;
}

a {
    color: white;
    text-decoration:solid; 
  }

a:hover {
    color: rgb(237, 223, 223);
    text-transform: solid;
    text-decoration: none;
  }

header #linha1{
    margin-right: 7.5%;
    width: 40vw;
    height: 0.5px;
    background-color: #D9D9D9;
    margin-bottom: 1%;
}

header #linha2{
    margin-right: 7.5%;
    margin-top: 1%;
    width: 40vw;
    height: 0.5px;
    background-color: #D9D9D9;
}

header #logo{
    position: absolute;
    width: 160px;
    height: 65px;
    margin-top: -0.3%;
    margin-right: 80%;
}

@media screen and (max-width: 800px) {
    header{
    height: 50px;
    }

    header #logo{
    margin-right: 70%;
    width: 110px;
    height: 40px;
    }

    header #textos{
    margin-right: 8.3%;
    display: flex;
    font-size: 6px;
    }

    header #linha1{
    margin-right: 13.3%;
    width: none;
    height: none;
    margin-bottom: 1.5%;
    }
    
    header #linha2{
    margin-right: 13.3%;
    margin-top: 1.5%;
    width: none;
    height: none;
    }
  }